body {
background: #C33764; /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #C33764 , #1D2671); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #C33764 , #1D2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: black; 
font-family: 'Barrio', cursive;     
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 4em;
}

.navbar-default {
	text-align: center;
}
.navbar-nav {
	padding-left: 24%;
}
.navbar-default .navbar-nav>li>a {
    font-size: 115%;
}

.row {
	background: white;
	width: 72%;
	padding: 2%;
	margin-top: 1em;
	margin-left: 12em;
	border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	border: 0px solid #000000;
}

p {
	font-size: 2em;
}

ul li {
	display: inline-block;
	line-height: 6em;
    letter-spacing: 0.2em;
    margin-right: 2em;
}

img {
	padding: 1em;
	border: solid grey 1px;
	margin-top: 1em;
	-webkit-box-shadow: -12px 10px 5px 0px rgba(128,128,128,1);
-moz-box-shadow: -12px 10px 5px 0px rgba(128,128,128,1);
box-shadow: -12px 10px 5px 0px rgba(128,128,128,1);
}

.test {
  margin-top: 125px;
  text-align: center;
  margin-bottom: 5%;
}
.test a {
  color: #fff;
  background: black;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding-top: 12px;
  margin: 0 2px;
  transition: all .5s;
}
.test a:hover {
  background: #ff0000;
}

.test a:hover p {
  bottom: 35px;
  visibility: visible;
}
.test a p {
  color: #666;
  position: absolute;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  z-index: -1;
  font-size: 14px;
  border-radius: 2px;
  background: #fff;
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.6, -0.6, 0.2, 1.5);
}

.test a p:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: -5px;
  left: 40px;
}
a:nth-of-type(1):before {
  content: '\f09a';
}
a:nth-of-type(2):before {
  content: '\f099';
}
a:nth-of-type(3):before {
  content: '\f0d5';
}
a:nth-of-type(4):before {
  content: '\f0e1';
}
a:nth-of-type(5):before {
  content: '\f17d';
}
a:nth-of-type(6):before {
  content: '\f231';
}

.footer {
	background: none;
}
.footer p {
	float: left;
	font-size: 0.6em;
}